/*      COULEURS CHOISIES

        FFB5A7
        FCD5CE
        F8EDEB
        F9DCC4
        FEC89A
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    -fx-font-family: "Poppins", sans-serif;
}

.background{
    -fx-background-color: linear-gradient(to bottom, #FEC89A, #F9DCC4);
}

.container{
    -fx-background-color: #FDF4EC;
    -fx-background-radius: 6;
}

.welcome{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #FEC89A;
}

#loginButton{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #FDF4EC;
    -fx-background-color: #FEC89A;

}

#loginButton:hover{
    -fx-pref-width: 104;
    -fx-cursor: hand;
}

#loginButton:pressed{
    -fx-pref-width: 100;
    -fx-cursor: hand;
}

#registerButton{
    -fx-font-size: 11px;
    -fx-text-fill: #FDF4EC;
    -fx-background-color: #FEC89A;
}

#registerButton:hover{
    -fx-pref-width: 90;
    -fx-cursor: hand;
}

#registerButton:pressed{
    -fx-pref-width: 86;
    -fx-cursor: hand;
}

#registerButton:focused{
    -fx-border-color: #fec89a;
}

.textfield{
   -fx-border-color: transparent;
   -fx-background-color: #ffffff;
}

.textfield:focus, .textfield:focused{
    -fx-border-color: #fec89a;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

