@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    -fx-font-family: "Poppins", sans-serif;
}

.background{
    -fx-background-color: #FDF4EC;
    -fx-background-radius: 4;
}

.background:hover{
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}

#title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#otherName{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#anchorpane{
    -fx-background-color: #ffffff;
}


