@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    -fx-font-family: "Poppins", sans-serif;
}

.background{
    -fx-background-color:  #FDF4EC;
    -fx-background-radius: 6;
}

.button{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #FDF4EC;
    -fx-background-color: #FEC89A;
}

.button:hover{
    -fx-cursor: hand;
}

.left{
    -fx-font-weight: bold;
}
