@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    -fx-font-family: "Poppins", sans-serif;
}

.textfield{
   -fx-border-color: transparent transparent #FEC89A transparent;
   -fx-background-color: #ffffff;
}