/*#fieldTest{
-fx-border: none;

-fx-background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
}

#welcome{
    -fx-text-fill: #f600ff;
}

#loginButton{
    -fx-font-size: 20px;
}*/